
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
 
    min-width:30px; /*CONFIGURE THIS*/
    width:75vw;
    height:100vh;
    
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;
}

#formContainer{

    width:70vw;
    height:80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clientEmail, #message{
    width:90%;
    min-width: 200px;
    max-width:600px;
    height:30px;

    border-radius: 10px;
    margin-bottom:10px;
    padding:5px;
}

#contactForm>button{
    height:40px;
    margin-bottom: 90px;
    border-radius: 50%;
    border:0.5px solid black;

}
label{
    font-weight:bold ;
}

@media (width<768px){
    #contact{
        margin-top: 3em;
    }

}