.navContainer{
    display:flex;
    position:fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height:100vh;
    width:20%;
    left:0;
    background:transparent;

    top:0;
      
    

}

.navItem{
    display: flex;
    align-items: center;
    margin: 1em 0 0 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(37.44,59.11%,70.12%);
    color: black;
    border-radius: 10px;
    padding: 5px;

    width:8em;
    
}

.navItem>span{
    text-decoration: none;
    color: inherit;
    margin-left:1em;
    
} 

@media (width < 768px){
    .navContainer{
        width:fit-content;
        padding:0 1.5em 0 0;
        backdrop-filter: blur( 50px);
        background-color: hsla(168, 95%, 8%, 0.554);
        margin:1em 0 0 -100%;
        top:2em;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        
        height:100%;
    }

    .navContainer.open{
        margin-left:3%;
        transition: margin-left 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    }
    .navItem{
        margin: 1em 0 0 0;
        padding-right:1em;


    }


}