.navContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    bottom:0;   
    

}

.navItem{
    display: flex;
    align-items: center;
    margin: 1em 0 0 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(37.44,59.11%,70.12%);
    color: black;
    border-radius: 35px;
    padding: 5px;
    
}

.navItem>a{
    text-decoration: none;
    color: inherit;
    margin-left:1em;
}

