#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    min-width:370px;
    width:100%;
    height:100vh;
    
    
    padding:0 10% 0 10%;
    background: transparent;



  
}
#projects>h1{
    margin-bottom: 15%;
}
#allProjects{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}