#projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    width:100%;
    
    
    padding:0 10% 0 10%;
    background: transparent;


  
}