#references{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
 
    min-width:30px;
    min-width:370px;
    width:70vw;
    height:100vh;
    margin-top: 3em;
    
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;
}

#refCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.expandedPicContainer{
    position:fixed;

    flex-direction:column;
    align-items: center;
    width:55vw;
    height:85vh;
    background-color: blueviolet;
    margin-top:10vh;

    border:2px solid black;
}

#imgPlate{
    width:95%;
    height:100%;
    border: 3px solid red;
    
}

@media (width<768px){
    #references{
        width:100%;
        
    }
}