#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;
 
    min-width:30px; /*CONFIGURE THIS*/
    width:100%;
    
    min-height:100vh;
    
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;

  
}
#skills>h1{
    margin-bottom:20%;
}

.skillsIcons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 
    margin:0 0 0 0;
    min-width:320px;
    width:100%;
    max-width:768px;

    padding:0 10% 0 10%;
}

.s_icon{
    margin: 30px;
    font-size: 50px;
    color:hsl(167.69,95.12%,8.04%);
}

@media (width<445px){
    .skillsIcons{
        gap:1px;
    }
}