:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark ;
  color: rgb(0, 0, 0);
  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row-reverse;

  scroll-behavior: smooth;



  box-sizing: border-box;
}

body {

  background: linear-gradient(to bottom , hsl(160,28%,80%) 0%,hsl(160,28%,90%) 1%, hsl(0, 0%, 91%) 50%);
  width:78%;
  min-width:340px;

  

}
#root {
  /*margin: 0;*/
  display: flex;
  flex-direction: column ;
  width:100%;  
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;
}

#menuButton{
    display:none;
  }



@media (width < 768px){

  body{
    width:100%;
  }
  header{
    width:100%;
    position:fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    top:0;
    left:0;
    z-index:1000;
}

  #headerDiv{
    width: 90%;
    background-color: aqua;
    height: 30px; 
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}
  #menuButton{
    display:inherit;
  }

    
  
}