:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  gap:-30;

  color-scheme: light dark ;
  color: rgb(0, 0, 0);
  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row-reverse;

  scroll-behavior: smooth;



  box-sizing: border-box;
}

body {

  background: linear-gradient(to bottom , hsl(160,28%,80%) 0%,hsl(160,28%,90%) 5%, hsl(0, 0%, 91%) 50%);
  width:78%;  

  margin:0;
  padding:0;

}
#root {
  /*margin: 0;*/
  display: flex;
  flex-direction: column ;
  width:100%;  
  min-height: 100vh;
  
  align-items: center;
  justify-content: center;

}

.expandedPicContainer{
    width:300px;
    height:40px;
    background-color: aqua;
    border:3px solid brown;
    position: absolute;
    border:2px solid pink;
    z-index: 900;
    margin-top: -300px;
}
