:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: hsl(160.91,28.21%,97.29%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: row-reverse;
}

body {
  /*margin: 0;*/
  display: flex;
  flex-direction: row ;
  min-width: 320px;
  width:78%;
  height: 100vh;
  border:10px solid black;
}

